<script src="/assets/js/scrollnav.min.umd.js"></script> 
<script>
    function isMobile(){
        let info = navigator.userAgent;
        let agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPod", "iPad"];
        for(let i = 0; i < agents.length; i++){
            if(info.indexOf(agents[i]) >= 0) return true;
        }
        return false;
    }

    if (!isMobile()) {
        const ct = document.querySelector('.post-content');  //".post-content"指向文章内容所在的div，需根据实际情况修改
        scrollnav.init(ct, { 
            debug: false,
            easingStyle: 'linear',
            //section为一级目录，subsection为二级目录
            //以下两行意为h3为一级目录，h4为二级目录（个人只需要一级目录，所以注释了二级目录）
            sections: 'h2',  
            //subSections: ($('.post-content > h1').length>0) ? 'h4' : 'h5',
        });
    }
</script>